{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Grower</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Bootstrap eCommerce Template">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="{% static 'assets/images/icons/favicon.ico' %}">

	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ 'Open+Sans:300,400,600,700,800','Poppins:300,400,500,600,700' ] }
		};
		(function(d) {
			var wf = d.createElement('script'), s = d.scripts[0];
			wf.src = '{% static 'assets/js/webfont.js' %}';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">
</head>
<body class="full-screen-slider">
	<div class="page-wrapper">
	

		<header class="header header-transparent">
			<div class="header-middle">
				<div class="container">
					<div class="header-left">
						<a href="{% url 'index' %}" class="logo">
							<img src="{% static 'assets/images/grower-low.png' %}" style="width:100px;height:100px" alt="Porto Logo">
						</a>

						<nav class="main-nav font2">
							<ul class="menu">
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a 	>Pestiside</a>
									<div class="megamenu megamenu-fixed-width megamenu-3cols">
										<div class="row">
											<div class="col-lg-4">
												{% comment %} <a href="#" class="nolink">VARIATION</a> {% endcomment %}
												<ul class="submenu">
													{% for i in category %}
													{% if i.Type_id == 1  %}
													<li><a href="{% url 'category_page' i.id %}"> {{i.name}} </a></li>
													{% endif %}
													{% endfor %}
													
												</ul>
											</div>
										</div>
									</div><!-- End .megamenu -->
								</li>
								<li>
									<a 	>Machineries</a>
									<div class="megamenu megamenu-fixed-width megamenu-3cols">
										<div class="row">
											<div class="col-lg-4">
												{% comment %} <a href="#" class="nolink">VARIATION</a> {% endcomment %}
												<ul class="submenu">
													{% for i in category %}
													{% if i.Type_id == 2 %}
													<li><a href="{% url 'category_page' i.id %}"> {{i.name}} </a></li>
													{% endif %}
													{% endfor %}
													
												</ul>
											</div>
										</div>
									</div><!-- End .megamenu -->
								</li>	
								<li>
									<a 	id="google_element"></a>
										
								</li>						
							</ul>
						</nav>
					</div><!-- End .header-left -->

					<div  class="header-right">
						<button class="mobile-menu-toggler" type="button">
							<i class="icon-menu"></i>
						</button>
						 <div class="dropdown cart-dropdown" >
							<a href="#" class="dropdown-toggle dropdown-arrow" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" style="margin-right:14px;">
								<i class="icon-user-2"></i>
							</a>
							<div class="dropdown-menu" style="width:130px;text-align:center;">
								<div class="dropdownmenu-wrapper" style="text-align:center">
							<!-- End .dropdown-cart-header -->
									<div class="dropdown-cart-products">
										<div class="product">
											<div class="product-details">
												<h4 class="product-title">
													{% if user.is_authenticated %}
													<a href="product.html" style="color:red;font-weight:bold;">{{user.fname}}</a>															
												</h4>
													<h4 class="product-title">
														<a href="{% url 'profile' %}">Account</a>
													</h4>
													<h4 class="product-title">
														<a href="{% url 'orders_list' %}">My Order</a>
													</h4>	
													{% endif %}
											</div><!-- End .product-details -->											
										</div><!-- End .product -->									
									</div><!-- End .cart-product -->		
									<div class="dropdown-cart-action">	
										{% if user.is_authenticated %}
										<a href="{% url 'logout' %}" style="font-weight:bold;color:#000;font-size:13px;">LogOut</a>
										{% else %}
										<a href="{% url 'login' %}" style="font-weight:bold;color:#000;font-size:17px;margin-left:15px;">SignIn</a>
										{% endif %}
									</div><!-- End .dropdown-cart-total -->
								</div><!-- End .dropdownmenu-wrapper -->
							</div><!-- End .dropdown-menu -->
						</div>
						<a href="{% url 'view_wishlist' %}" class="header-icon"><i class="icon-wishlist-2"></i></a>
						<div class="header-search header-search-popup header-search-category d-none d-sm-block">
							<a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>					
							  <form action="{% url 'searchbar' %}"  method="get">
								<div class="header-search-wrapper">
									<input type="search" class="form-control" name="query" id="q" placeholder="I'm searching for..." required="">
									<div class="select-custom">
										<select id="cat" name="cat">
											<option value="">All Categories</option>
											<option value="4">Fashion</option>
											<option value="12">- Women</option>
											<option value="13">- Men</option>
											<option value="66">- Jewellery</option>
											<option value="67">- Kids Fashion</option>
											<option value="5">Electronics</option>
											<option value="21">- Smart TVs</option>
											<option value="22">- Cameras</option>
											<option value="63">- Games</option>
											<option value="7">Home &amp; Garden</option>
											<option value="11">Motors</option>
											<option value="31">- Cars and Trucks</option>
											<option value="32">- Motorcycles &amp; Powersports</option>
											<option value="33">- Parts &amp; Accessories</option>
											<option value="34">- Boats</option>
											<option value="57">- Auto Tools &amp; Supplies</option>
										</select>
									</div><!-- End .select-custom -->
									<button class="btn bg-dark icon-search-3" type="submit"></button>
								</div><!-- End .header-search-wrapper -->
							</form>
						</div>

						<div class="dropdown cart-dropdown">
							<a href="{% url 'cart' %}" class="dropdown-toggle dropdown-arrow" role="button" >
								<i class="icon-shopping-cart"></i>
								<span class="cart-count badge-circle">{{l}}</span>
							</a>
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-middle -->
		</header><!-- End .header -->




        {% block content %}
        {% endblock %}





		<footer class="footer">
			
			<div class="footer-middle">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-xl-4">
							<div class="widget">
								<h4 class="widget-title">Contact Info</h4>

								<div class="row">
									<div class="col-sm-6">
										<div class="contact-widget">
											<h4 class="widget-title">ADDRESS</h4>
											<a href="#">1234 Street Name, City, England</a>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="contact-widget email">
											<h4 class="widget-title">EMAIL</h4>
											<a href="mailto:mail@example.com">mail@example.com</a>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="contact-widget">
											<h4 class="widget-title">PHONE</h4>
											<a href="#">Toll Free (123) 456-7890</a>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="contact-widget">
											<h4 class="widget-title">WORKING DAYS/HOURS</h4>
											<a href="#">Mon - Sun / 9:00 AM - 8:00 PM</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3 col-xl-4">
							<div class="widget">
								<h4 class="widget-title">My Account</h4>
								<ul class="links link-parts row">
									<div class="link-part col-xl-4">
										<li><a href="about.html">About Us</a></li>
										<li><a href="contact.html">Contact Us</a></li>
										<li><a href="my-account.html">My Account</a></li>
									</div>
									<div class="link-part col-xl-8">
										<li><a href="#">Orders History</a></li>
										<li><a href="#">Advanced Search</a></li>
									</div>
								</ul>
							</div><!-- End .widget -->
						</div>
						{% comment %} <div class="col-sm-6 col-lg-3 col-xl-4">
							<div class="widget">
								<h4 class="widget-title">Main Features</h4>
								<ul class="links link-parts row">
									<div class="link-part col-xl-6">
										<li><a href="#">Super Fast WordPress Theme</a></li>
										<li><a href="#">1st Fully working Ajax Theme</a></li>
										<li><a href="#">33 Unique Shop Layouts</a></li>
									</div>
									<div class="link-part col-xl-6">
										<li><a href="#">Powerful Admin Panel</a></li>
										<li><a href="#">Mobile &amp; Retina Optimized</a></li>
									</div>
								</ul>
							</div><!-- End .widget -->
						</div> {% endcomment %}
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container top-border d-flex align-items-center justify-content-between flex-wrap">
					<p class="footer-copyright mb-0 py-3 pr-3">Grower eCommerce. &copy;  2020.  All Rights Reserved</p>
					<img class="py-3" src="{% static 'assets/images/payments.png' %}" alt="payment image">
				</div>
			</div>
		</footer>  
	</div><!-- End .page-wrapper -->

	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
		<div class="mobile-menu-wrapper">
			<span class="mobile-menu-close"><i class="icon-compare-link"></i></span>
			<nav class="mobile-nav">
				<ul class="mobile-menu">
					<li class="active"><a href="index.html">Home</a></li>
					<li>
						<a href="category.html">Categories</a>
						<ul>
							<li><a href="category.html">Full Width Banner</a></li>
							<li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
							<li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
							<li><a href="category.html">Left Sidebar</a></li>
							<li><a href="category-sidebar-right.html">Right Sidebar</a></li>
							<li><a href="category-flex-grid.html">Product Flex Grid</a></li>
							<li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
							<li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
							<li><a href="category-list.html">List Types</a></li>
							<li><a href="category-infinite-scroll.html">Ajax Infinite Scroll</a></li>
							<li><a href="category-3col.html">3 Columns Products</a></li>
							<li><a href="category-4col.html">4 Columns Products</a></li>
							<li><a href="category.html">5 Columns Products</a></li>
							<li><a href="category-6col.html">6 Columns Products</a></li>
							<li><a href="category-7col.html">7 Columns Products</a></li>
							<li><a href="category-8col.html">8 Columns Products</a></li>
						</ul>
					</li>
					<li>
						<a href="product.html">Products</a>
						<ul>
							<li>
								<a href="#">Variations</a>
								<ul>
									<li><a href="product.html">Horizontal Thumbs</a></li>
									<li><a href="product-full-width.html">Vertical Thumbnails</a></li>
									<li><a href="product.html">Inner Zoom</a></li>
									<li><a href="product-addcart-sticky.html">Addtocart Sticky</a></li>
									<li><a href="product-sidebar-left.html">Accordion Tabs</a></li>
									<li><a href="product-sticky-tab.html">Sticky Tabs</a></li>
									<li><a href="product-simple.html">Simple Product</a></li>
									<li><a href="product-sidebar-left.html">With Left Sidebar</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Product Layout Types</a>
								<ul>
									<li><a href="product.html">Default Layout</a></li>
									<li><a href="product-extended-layout.html">Extended Layout</a></li>
									<li><a href="product-full-width.html">Full Width Layout</a></li>
									<li><a href="product-grid-layout.html">Grid Images Layout</a></li>
									<li><a href="product-sticky-both.html">Sticky Both Side Info</a></li>
									<li><a href="product-sticky-info.html">Sticky Right Side Info</a></li>
								</ul>
							</li>
						</ul>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a href="#">{{user.fname}}</a>
						<ul>
							<li><a href="cart.html">Shopping Cart</a></li>
							<li>
								<a href="#">Checkout</a>
								<ul>
									<li><a href="checkout-shipping.html">Checkout Shipping</a></li>
									<li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>
									<li><a href="checkout-review.html">Checkout Review</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Dashboard</a>
								<ul>
									<li><a href="dashboard.html">Dashboard</a></li>
									<li><a href="my-account.html">My Account</a></li>
									
								</ul>
							</li>
							<li><a href="about.html">About Us</a></li>
							<li>
								<a href="#">Blog</a>
								<ul>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="single.html">Blog Post</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="#" class="login-link">Login</a></li>
							<li><a href="forgot-password.html">Forgot Password</a></li>
						</ul>
					</li>
					{% endif %}

					<li><a href="https://1.envato.market/DdLk5" target="_blank">Buy Porto!</a></li>
				</ul>
			</nav><!-- End .mobile-nav -->

			<div class="social-icons">
				<a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
				<a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
				<a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
			</div><!-- End .social-icons -->
		</div><!-- End .mobile-menu-wrapper -->
	</div><!-- End .mobile-menu-container -->

	{% comment %} <div class="newsletter-popup mfp-hide bg-img" id="newsletter-popup-form" style="background: #f1f1f1 no-repeat center/cover url({% static 'assets/images/newsletter_popup_bg.jpg' %})">
		<div class="newsletter-popup-content">
			<img src="{% static 'assets/images/logo-black.png' %}" alt="Logo" class="logo-newsletter">
			<h2>BE THE FIRST TO KNOW</h2>
			<p class="mb-2">Subscribe to the Porto eCommerce newsletter to receive timely updates from your favorite products.</p>
			<form action="#">
				<div class="input-group">
					<input type="email" class="form-control" id="newsletter-email" name="newsletter-email" placeholder="Email Address" required>
					<input type="submit" class="btn" value="Go!">
				</div><!-- End .from-group -->
			</form>
			<div class="newsletter-subscribe">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="1">
						Don't show this popup again
					</label>
				</div>
			</div>
		</div><!-- End .newsletter-popup-content -->
	</div><!-- End .newsletter-popup --> {% endcomment %}

	<!-- Add Cart Modal -->
	<div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body add-cart-box text-center">
			<p>You've just added this product to the<br>cart:</p>
			<h4 id="productTitle"></h4>
			<img src="#" id="productImage" width="100" height="100" alt="adding cart image">
			<div class="btn-actions">
				<a href="cart.html"><button class="btn-primary">Go to cart page</button></a>
				<a href="#"><button class="btn-primary" data-dismiss="modal">Continue</button></a>
			</div>
		  </div>
		</div>
	  </div>
	</div>

	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins.min.js' %}"></script>

	<!-- Main JS File -->
	<script src="{% static 'assets/js/main.min.js' %}"></script>
	<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
                            <script >
                                function loadGoogleTranslate(){
                                   new google.translate.TranslateElement("google_element");
                                }
                            </script>
</body>
</html>





