{% extends 'base.html' %}
{% load static %}
{% block content %}

		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Pages</a></li>
						<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
					</ol>
				</div><!-- End .container -->
			</nav>

			<div class="page-header">
				<div class="container">
					<h1>Forgot Your Password</h1>
				</div><!-- End .container -->
			</div><!-- End .page-header -->





			<script>
				function validate()
			   {
				   var f=document.getElementById("fname").value.trim();
				   var l=document.getElementById("lname").value;
				   var s=/^[a-zA-Z^\s]+$/;
				   if(f=="")
			{
				document.getElementById('fn').style.display = "block";

				document.getElementById('fn').innerHTML="**Please Enter  First Name";
				return false;
			}
				   if(f!="" && s.test(f)==false){

					   document.getElementById('fn').style.display = "block";
					   document.getElementById('fn').innerHTML = "Invalid Fname";
					   return false;
				   }
				   else{
					   document.getElementById('fn').style.display = "none";
				   }
				   if(l=="")
			{
				document.getElementById('ln').style.display = "block";

				document.getElementById('ln').innerHTML="**Please Enter  Last Name";
				return false;
			}
				   if(l!="" && s.test(l)==false){

					   document.getElementById('ln').style.display = "block";
					   document.getElementById('ln').innerHTML = "Invalid Lname";
					   return false;
				   }
				   else{
					   document.getElementById('ln').style.display = "none";
				   }

				   var a=document.getElementById("email").value;
				   var st=/^[\w\+\'\.-]+@[\w\'\.-]+\.[a-zA-Z]{2,}$/;
				   if(a=="")
			{
				document.getElementById('el').style.display = "block";

				document.getElementById('el').innerHTML="**Please Enter  Email";
				return false;
			}
				   if(a!="" && st.test(a)==false){

					   document.getElementById('el').style.display = "block";
					   document.getElementById('el').innerHTML = "Invalid Email id";
					   return false;
				   }
				   else{
					   document.getElementById('el').style.display = "none";
				   }

				   var ph = document.getElementById("tel").value;
				   var expr = /^[6-9]\d{9}$/;
				   if(ph=="")
			{
				document.getElementById('pe').style.display = "block";

				document.getElementById('pe').innerHTML="**Please Enter  phone";
				return false;
			}
				   if(ph!="" && expr.test(ph)==false){
					   document.getElementById('pe').style.display = "block";
					   document.getElementById('pe').innerHTML = "Invalid Phone number";
					   return false;
							   }
							   else{
					   document.getElementById('pe').style.display = "none";
				   }
					var d=document.getElementById('password').value;

					var e=document.getElementById('cpassword').value;
					if(d=="")
			{
				document.getElementById('pss').style.display = "block";

				document.getElementById('pss').innerHTML="**Please Enter  password";
				return false;
			}
			   else{
					   document.getElementById('pss').style.display = "none";
				   }
				   if(e=="")
			{
				document.getElementById('cpss').style.display = "block";

				document.getElementById('cpss').innerHTML="**Please Enter Conform password";
				return false;
			}

			   if(d!=e)
			   {
				   document.getElementById('cpss').style.display = "block";

				   document.getElementById('cpss').innerHTML="**Incorrect Password";
				   return false;
			   }
					   else
						 {
							 document.getElementById('cpss').style.display = "none";

				   return true;
			   }


			   }
			   function onclear()
			   {
				document.getElementById('pss').style.display = "none";
			   }
			   </script>





			<div class="container">
				<div class="heading mb-4">
					<h2 class="title">Reset Password</h2>
					<p>Please enter your email address below to receive a password reset link.</p>
				</div><!-- End .heading -->

				<form method="post" onsubmit="return validate();">
					{% csrf_token %}
					<div class="form-group required-field">
						<label for="reset-email">Email</label>
					
						<input type="text" id="email" class="form-control"  name="email" placeholder="Email" onblur="return validate()" onKeyUp="return validate()">
                        <span id="el" style="color: red;"></span>
					</div><!-- End .form-group -->

					<div class="form-footer">
						<a href="{% url 'resetPassword' %}">
							<button class="button button-primary w-100" type="submit"> Reset Password</button>
					</div><!-- End .form-footer -->
				</form>
			</div><!-- End .container -->

			<div class="mb-10"></div><!-- margin -->
		</main><!-- End .main -->
		{% endblock %}