{% extends 'base.html' %}
{% load static %}
{% block content %}

		<main class="main">

			{% include 'alert.html' %}

						<script>
							setTimeout(function(){
							  if ($('#msg').length > 0){
								$('#msg').remove();
								}
							  },4000)
							</script>
	<br><br>
							
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Pages</a></li>
						<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
					</ol>
				</div><!-- End .container -->
			</nav>



			<script>
                function validate()
               {
                    var d=document.getElementById('password').value;

                    var e=document.getElementById('cpassword').value;
                    if(d=="")
            {
                document.getElementById('pss').style.display = "block";

                document.getElementById('pss').innerHTML="**Please Enter  password";
                return false;
            }
               else{
                       document.getElementById('pss').style.display = "none";
                   }
                   if(e=="")
            {
                document.getElementById('cpss').style.display = "block";

                document.getElementById('cpss').innerHTML="**Please Enter Conform password";
                return false;
            }

               if(d!=e)
               {
                   document.getElementById('cpss').style.display = "block";

                   document.getElementById('cpss').innerHTML="**Incorrect Password";
                   return false;
               }
                       else
                         {
                             document.getElementById('cpss').style.display = "none";

                   return true;
               }


               }
               function onclear()
               {
                document.getElementById('pss').style.display = "none";
               }
               </script>

			<div class="container">
				<div class="row row-sparse">
					<div class="col-lg-9 order-lg-last dashboard-content">
                        <br><br><br><br>
						<h2 class="text-primary">ReSet Password</h2>
						<form action="{% url 'resetPassword' %}" method="post" onsubmit="return validate();">
                            {% csrf_token %}
							<div class="row row-sparse">
								<div class="col-sm-11">
									<div class="row row-sparse">
										<div class="col-md-4">
											<div class="form-group required-field">
												<label for="acc-name">Password</label>
												<input type="password" id="password" class="form-control" name="password" placeholder=" New Password" onclick="return onclear()">
                                                <span id="pss" style="color: red;"></span>
											</div><!-- End .form-group -->
										</div><!-- End .col-md-4 -->
                                        <style>
                                            /* The message box is shown when the user clicks on the password field */
                                               #message {
                                               display:none;
                                               background:#fff;
                                               color: #000;
                                               position: relative;
                                               padding: 20px;
                                               margin-top: 10px;
                                               }
                                                                   #message p {
                                               padding: 1px 35px;
                                               font-size: 14px;
                                               }
                                               /* Add a green text color and a checkmark when the requirements are right */
                                               .valid {
                                               color: green;
                                               }

                                               .valid:before {
                                               position: relative;
                                               left: -25px;
                                               content: "✔";
                                               }

                                               /* Add a red text color and an "x" when the requirements are wrong */
                                               .invalid {
                                               color: red;
                                               }

                                               .invalid:before {
                                               position: relative;
                                               left: -25px;
                                               content: "✖";
                                               }
                                               </style>
                                               <div id="message">
<!--                                                    <h4 style="color:rgb(249, 164, 61) ;">Password must contain the following:</h4>-->
                                                        <p id="letter" class="invalid">A lowercase letter</p>
                                                        <p id="capital" class="invalid">A capital (uppercase) letter</p>
                                                        <p id="number" class="invalid">A number</p>
                                                        <p id="length" class="invalid">Minimum 8 characters</b></p>
                                                     </div>
                                                     <script>
                                                        var myInput = document.getElementById("password");
                                                        var letter = document.getElementById("letter");
                                                        var capital = document.getElementById("capital");
                                                        var number = document.getElementById("number");
                                                        var length = document.getElementById("length");
                                                        myInput.onfocus = function() {
                                                        document.getElementById("message").style.display = "block";
                                                        }
                                                        myInput.onblur = function() {
                                                        document.getElementById("message").style.display = "none";
                                                        }
                                                        // When the user starts to type something inside the password field
                                                        myInput.onkeyup = function() {
                                                        // Validate lowercase letters
                                                        var lowerCaseLetters = /[a-z]/g;
                                                        if(myInput.value.match(lowerCaseLetters)) {
                                                            letter.classList.remove("invalid");
                                                            letter.classList.add("valid");
                                                        } else {
                                                            letter.classList.remove("valid");
                                                            letter.classList.add("invalid");
                                                        }
                
                                                        // Validate capital letters
                                                        var upperCaseLetters = /[A-Z]/g;
                                                        if(myInput.value.match(upperCaseLetters)) {
                                                            capital.classList.remove("invalid");
                                                            capital.classList.add("valid");
                                                        } else {
                                                            capital.classList.remove("valid");
                                                            capital.classList.add("invalid");
                                                        }
                
                                                        // Validate numbers
                                                        var numbers = /[0-9]/g;
                                                        if(myInput.value.match(numbers)) {
                                                            number.classList.remove("invalid");
                                                            number.classList.add("valid");
                                                        } else {
                                                            number.classList.remove("valid");
                                                            number.classList.add("invalid");
                                                        }
                
                                                        // Validate length
                                                        if(myInput.value.length >= 8) {
                                                            length.classList.remove("invalid");
                                                            length.classList.add("valid");
                                                        } else {
                                                            length.classList.remove("valid");
                                                            length.classList.add("invalid");
                                                        }
                                                        }
                                                    </script>
										<div class="col-md-4">
											<div class="form-group required-field">
												<label for="acc-lastname">Conform Password</label>
												<input type="password" id="cpassword" class="form-control" name="confirm_password" placeholder="Conform Password" onblur="return validate()" onKeyUp="return validate()">
                                                <span id="cpss" style="color: red;"></span>
											</div><!-- End .form-group -->
										</div><!-- End .col-md-4 -->
									</div><!-- End .row -->
								</div><!-- End .col-sm-11 -->
							</div><!-- End .row -->
					
							<div class="mb-2"></div><!-- margin -->
							

							
							<div class="form-footer">

								<div class="form-footer-right">
									<button type="submit" class="btn btn-primary">Change Password</button>
                                {% comment %} <button class="button button-primary w-100" type="submit">Change Password</button> {% endcomment %}

								</div>
							</div><!-- End .form-footer -->
						</form>
					</div><!-- End .col-lg-9 -->
				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->
		{% endblock %}
		
			