{% extends 'base.html' %}
{% load static %}
{% block content %}


<script>
	setTimeout(function(){
	  if ($('#msg').length > 0){
		$('#msg').remove();
		}
	  },4000)
	</script>  

		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					{% comment %} <ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Men</a></li>
						<li class="breadcrumb-item active" aria-current="page">Accessories</li>
					</ol> {% endcomment %}
				</div><!-- End .container -->
			</nav>

			<div class="container mb-3">
				<div class="category-banner">
					<img class="slide-bg" src="{% static 'assets/images/banners/slide6.jpg' %}" style="margin-top:-400px" alt="banner" width="1500" height="320">
					{% comment %} <div class="category-slide-content">
						<h2 class="m-b-3">Winter Fashion Trends</h2>
						<h3 class="text-uppercase m-b-4">Up to 30% off on Jackets</h3>

						<h5 class="text-uppercase d-inline-block mb-0">Starting at<span class="coupon-sale-text"><sup>$</sup>199<sup>99</sup></span></h5>
						<a href="category.html" class="btn btn-dark btn-xl" role="button">Shop Now</a>
					</div><!-- End .category-slide-content --> {% endcomment %}
				</div><!-- End .category-slide -->

				<nav class="toolbox horizontal-filter">
					<div class="toolbox-left d-none d-lg-block">
						<div class="toolbox-item filter-toggle">
							<span>Filters:</span>
							<a href=#>&nbsp;</a>
						</div>
					</div><!-- End .toolbox-left -->

					<div class="toolbox-item toolbox-sort ml-lg-auto">
						<label>Sort By:</label>

						<div class="select-custom">
							<select name="orderby" class="form-control">
								<option value="menu_order" selected="selected">Default sorting</option>
								<option value="popularity">Sort by popularity</option>
								<option value="rating">Sort by average rating</option>
								<option value="date">Sort by newness</option>
								<option value="price">Sort by price: low to high</option>
								<option value="price-desc">Sort by price: high to low</option>
							</select>
						</div><!-- End .select-custom -->

						
					</div><!-- End .toolbox-item -->

					{% comment %} <div class="toolbox-item toolbox-show ml-auto ml-lg-0">
						<label>Show:</label>

						<div class="select-custom">
							<select name="count" class="form-control">
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="40">40</option>
								<option value="50">50</option>
							</select>
						</div><!-- End .select-custom -->
					</div><!-- End .toolbox-item --> {% endcomment %}

					{% comment %} <div class="toolbox-item layout-modes">
						<a href="category.html" class="layout-btn btn-grid active" title="Grid">
							<i class="icon-mode-grid"></i>
						</a>
						<a href="category-list.html" class="layout-btn btn-list" title="List">
							<i class="icon-mode-list"></i>
						</a>
					</div><!-- End .layout-modes --> {% endcomment %}
				</nav>

				<div class="row row-sparse main-content-wrap">
					<div class="col-lg-9 main-content">
						<div class="row">

							{% for i in product %}
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="{% url 'product_d' i.id %}">
											<img src="{{i.product_image.url}}">
										</a>
										<div class="label-group">
											<span class="product-label label-sale">{{i.percentage}}% off</span>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<h5><a >{{i.name}}</a></h5>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">{{i.original_price}}</span>
											<span class="product-price">{{i.selling_price}}</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							{% endfor %}
							{% comment %} <div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-5.jpg">
										</a>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-6.jpg">
										</a>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-7.jpg">
										</a>
										<div class="label-group">
											<span class="product-label label-hot">HOT</span>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-8.jpg">
										</a>
										<div class="label-group">
											<span class="product-label label-sale">-30%</span>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-9.jpg">
										</a>
										<div class="label-group">
											<span class="product-label label-sale">-20%</span>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-10.jpg">
										</a>
										<div class="label-group">
											<span class="product-label label-hot">HOT</span>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-11.jpg">
										</a>
										<div class="label-group">
											<span class="product-label label-sale">-25%</span>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
									<div class="product-details">
										<div class="category-wrap">
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
											<span class="old-price">$59.00</span>
											<span class="product-price">$49.00</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-xl-5col">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="product.html">
											<img src="assets/images/products/product-12.jpg">
										</a>
										<div class="label-group">
											<span class="product-label label-sale">-40%</span>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
										<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
									</figure>
								
											<div class="category-list">
												<a href="category.html" class="product-category">category</a>
											</div>
										</div>
										<h2 class="product-title">
											<a href="product.html">Product Short Name</a>
										</h2>
										
							</div>{% endcomment %}
						</div> 

						<nav class="toolbox toolbox-pagination">
							<ul class="pagination toolbox-item">
								<li class="page-item active">
									<a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
								</li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><span class="page-link">...</span></li>
								<li class="page-item">
									<a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
								</li>
							</ul>
						</nav>
					</div><!-- End .col-lg-9 -->

					<div class="sidebar-overlay"></div>
					<div class="sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
					<aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
						<div class="sidebar-wrapper">
							<div class="widget">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Categories</a>
								</h3>

								<div class="collapse show" id="widget-body-2">
									<div class="widget-body">
										<ul class="cat-list">
											<li><a href="#">Accessories</a></li>
											<li><a href="#">Watch Fashion</a></li>
											<li><a href="#">Tees, Knits & Polos</a></li>
											<li><a href="#">Pants & Denim</a></li>
										</ul>
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->

							<div class="widget">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Price</a>
								</h3>

								<div class="collapse show" id="widget-body-3">
									<div class="widget-body">
										<form action="#">
											<div class="price-slider-wrapper">
												<div id="price-slider"></div><!-- End #price-slider -->
											</div><!-- End .price-slider-wrapper -->

											<div class="filter-price-action d-flex align-items-center justify-content-between flex-wrap">
												<button type="submit" class="btn btn-primary">Filter</button>

												<div class="filter-price-text">
													Price:
													<span id="filter-price-range"></span>
												</div><!-- End .filter-price-text -->
											</div><!-- End .filter-price-action -->
										</form>
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->

							<div class="widget">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true" aria-controls="widget-body-4">Size</a>
								</h3>

								<div class="collapse show" id="widget-body-4">
									<div class="widget-body">
										<ul class="cat-list">
											<li><a href="#">Small</a></li>
											<li><a href="#">Medium</a></li>
											<li><a href="#">Large</a></li>
											<li><a href="#">Extra Large</a></li>
										</ul>
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->

							<div class="widget">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true" aria-controls="widget-body-5">Brand</a>
								</h3>

								<div class="collapse show" id="widget-body-5">
									<div class="widget-body">
										<ul class="cat-list">
											<li><a href="#">Adidas</a></li>
											<li><a href="#">Calvin Klein (26)</a></li>
											<li><a href="#">Diesel (3)</a></li>
											<li><a href="#">Lacoste (8)</a></li>
										</ul>
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->

							<div class="widget">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true" aria-controls="widget-body-6">Color</a>
								</h3>

								<div class="collapse show" id="widget-body-6">
									<div class="widget-body">
										<ul class="config-swatch-list">
											<li class="active">
												<a href="#" style="background-color: #1645f3;"></a>
												<span>Blue</span>
											</li>
											<li>
												<a href="#" style="background-color: #f11010;"></a>
												<span>Red</span>
											</li>
											<li>
												<a href="#" style="background-color: #fe8504;"></a>
												<span>Orange</span>
											</li>
											<li>
												<a href="#" style="background-color: #2da819;"></a>
												<span>Green</span>
											</li>
										</ul>
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->
						</div><!-- End .sidebar-wrapper -->
					</aside><!-- End .col-lg-3 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
		</main><!-- End .main -->

		{% endblock %}